
.container{
    /* margin-top: 125px; */
    padding: 0px;
    background-color: #fff;
    /* height: 120vh; */
    height: auto;
    width: fit-content;
    
    position: inherit;
    z-index: 10;
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center;
    gap: 2rem; */
}
.conMenu{
    width: 300px;
    height: fit-content;
    background-color: #fff;
    
   
    /* border: 1px solid rgb(153, 153, 153); */
    /* background-color: #fff; */
    /* border-radius: 10px; */
    /* padding: 10px 0px; */
}
.catalogMenu{
    background-color: rgb(71, 71, 71);
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
}
.catalogMenu span{
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
}

.catalogMenuActive{
    background-color: #286efa;
    text-align: center;
    padding: 15px 0px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.catalogMenuActive a{
    color: #fff;
}
.catalogMenu:hover{
    cursor: pointer;
    /* transform: scale(0.95); */
    /* background-color: rgb(142, 142, 153); */
}
/* .catalogMenu span{
    margin-left: 5px;
    color: #fff;
}
.catalogMenu span:hover{
    font-size: 18px;
} */
.conMenu p{
    font-size: 10px;
    margin: 10px 10px;
}
.menuTypeContainer{
    margin: 0px 10px 0px 20px;
}
.menu{
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;

}

.menu span{
    width: 90%;
    margin-right: 10px;
    color: #000;
}
.menuActive{
    font-size: 20px;
    margin-bottom: 10px;
    align-items: center;
    color: #286efa;
}
.menuActive span{
    width: 90%;
    margin-right: 10px;
    color: #286efa;
}
.menu:hover{
    cursor: pointer;
    color: rgb(102, 106, 109);
}

.subTypeProduct a{
    display: flex;
    background-color: #fff;
    padding: 10px 10px 0px 10px;
    /* margin: 0px 20px 20px 20px; */
    color: rgb(142, 142, 153);
    font-size: 14px;
    /* padding-left: 10px; */
    width: 200px;
}
.subTypeProduct div{
    margin-bottom: 1rem;
}
.subTypeProduct a:hover{
    color: #000;
    cursor: pointer;
}
.iframe{
    width: 1000px;
    height: 650px;
}

@media only screen and (max-width:1200px){
    .iframe{
        width: 750px;
        height: 650px;
    }
}
@media only screen and (max-width:1100px){
    .iframe{
        width: 650px;
        height: 650px;
    }
}
@media only screen and (max-width:1000px){
    .container{
       width: 100vw;
       height: fit-content;  
    }
    .conMenu{
        width: 100vw;
    }
    .conMenu p{
        display: none;
    }
    .menuTypeContainer{
        margin: 0;
        padding: 15px 0px ;
        display: flex;
        justify-content: center;
        gap: 15rem;
        background-color: #fff;
    }
    .menu{
        margin: 0;
    }
    .menu span{
        color: rgb(75, 74, 74);
    }
    .menu svg{
        display: none;
    }
    .subTypeProduct{
        display: none;
    }

   
    .iframe{
        width: 600px;
        height: 650px;
    }
}
@media only screen and (max-width:950px){
    .container{
        margin-top: 120px;
    }
    .iframe{
        width: 550px;
        height: 650px;
    }
}
@media only screen and (max-width:900px){
    .container{
        margin-top: 98px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .iframe{
        width: fit-content;
        height: 500px;
    }

}
@media only screen and (max-width:750px){
    .menuTypeContainer{
        gap: 8rem;
    }
    .menu span{
        font-size: 16px;
    }
   
}
@media only screen and (max-width:600px){
    .menuTypeContainer{
        gap: 1rem;
    }
    .menu span{
        font-size: 14px;
    }
   
}