.container{
    margin-top: 125px;
    background-color: #fff;
    width: 100vw;
    height: fit-content;
    display: flex;
}
.contentContainer{
    margin: 50px ;
    z-index: 0;
}
.contentContainer h1{
    color: rgb(19, 19, 138);
}
.productContainer{
    color: rgb(50, 96, 156);
    font-weight: 900;
    font-size: 22px;
    
}
.product{
    display: flex;
    gap: 3rem;
    margin: 50px;
}
/* .imgProduct{
    width: fit-content;
} */
.product img{
    /* height: 100px; */
    /* width: auto; */
    width: 150px;
   
}
.product div{
    /* width: 40%; */
}
.product div p{
    color: #000;
    font-size: 16px;
    font-weight: 100;
    padding-top: 10px;
}
.poster img{
    width: 100%;

    margin-top: 20px;
    
}
.icon{
    text-align: center;
}
.icon a{

    font-size: 40px;
    margin-top: 20px;
    color: #63696c;
}
.icon:hover{
    cursor: pointer;
    transform: scale(0.9);
}
@media only screen and (max-width:1000px){
    .container{
        flex-direction: column;
    }
    .contentContainer{
        margin: 40px ;
    }
    .product{
        margin: 40px;
    }

}
@media only screen and (max-width:950px){
    .container{
        margin-top: auto;
      
    }
    .product{

        gap: 2rem;
        margin: 30px;
    }
    .contentContainer{
        margin: 30px ;
    }
    

}
@media only screen and (max-width:650px){
    .contentContainer{
        margin: 20px ;
    }
    .product img{
        width: 120px;
    }
    .product{
        margin: 20px;
        font-size: 16px;
    }
    .product div p{
        font-size: 14px;
    }
    .contentContainer h1{
        font-size: 22px;
    }

}
@media only screen and (max-width:500px){
    .product img{
        width: 80px;
    }
    .product{
        font-size: 14px;
   
    }
    .product div p{
        font-size: 12px;
    }
    .contentContainer h1{
        font-size: 20px;
    }
    
}