.search{
    border: solid 1px rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 40rem;
}
input[type=search]{
    border: none;
    outline: none;
    font-size: 15px;
    padding-left: 5px;
}
.showSearch{
    position: fixed;
    z-index: 1000;
    right: 0;
    background-color: #fff;
  
    box-shadow: 0 0 5px rgb(0 0 0 / 70%);
    margin-right: 10%;
    margin-top: 8px;
    
}
.valueSearch{
    display: flex;
    border-bottom: 1px solid rgb(207, 207, 207);
    padding: 10px;
    color: rgb(37, 37, 37);
    gap: 1rem;
}

.valueSearch:hover{
    cursor: pointer;
}